[nginx-stable]
name={{ nginx.repo.nginx_stable.name }}
baseurl={{ nginx.repo.nginx_stable.baseurl }}
gpgcheck={{ nginx.repo.nginx_stable.gpgcheck }}
enabled={{ nginx.repo.nginx_stable.enabled }}
gpgkey={{ nginx.repo.nginx_stable.gpgkey }}
module_hotfixes={{ nginx.repo.nginx_stable.module_hotfixes }}

[nginx-mainline]
name={{ nginx.repo.nginx_mainline.name }}
baseurl={{ nginx.repo.nginx_mainline.baseurl }}
gpgcheck={{ nginx.repo.nginx_mainline.gpgcheck }}
enabled={{ nginx.repo.nginx_mainline.enabled }}
gpgkey={{ nginx.repo.nginx_mainline.gpgkey }}
module_hotfixes={{ nginx.repo.nginx_mainline.module_hotfixes }}
