<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>News App Demo</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <main>
      <header>
        <a class="logo" href="/">News Demo</a>
        <form action="/search" method="GET">
          <input
            autofocus
            class="search-input"
            value="{{ .Query }}"
            placeholder="Enter a news topic"
            type="search"
            name="q"
          />
        </form>
        <a
          href="https://github.com/freshman-tech/news"
          class="button github-button"
          >View on GitHub</a
        >
      </header>
      <section class="container">
        <div class="result-count">
        {{ if .Results }}
          {{ if (gt .Results.TotalResults 0) }}
          <p>約<strong>{{ .Results.TotalResults }}</strong>件の検索結果が見つかりました。<strong>{{ .TotalPages }}</strong>ページ中<strong>{{ .CurrentPage }}</strong>ページ目を表示中</p>
          {{ else if and (ne .Query "") (eq .Results.TotalResults 0) }}
          <p>検索結果は見つかりませんでした。: <strong>{{ .Query }}</strong></p>
          {{ end }}
        {{ end }}
        </div>
        <ul class="search-results">
          {{ range.Results.Articles }}
          <li class="news-article">
            <div>
              <a target="_blank" rel="noreferrer noopener" href="{{.URL}}">
                <h3 class="title">{{.Title }}</h3>
              </a>
              <p class="description">{{ .Description }}</p>
              <div class="metadata">
                <p class="source">{{ .Source.Name }}</p>
                <time class="published-date">{{ .PublishedAt }}</time>
              </div>
            </div>
            <img class="article-image" src="{{ .URLToImage }}" />
          </li>
          {{ end }}
        </ul>
        <div class="pagination">
        {{ if . }}
          {{ if (gt .NextPage 2) }}
            <a href="/search?q={{ .Query }}&page={{ .PreviousPage }}" class="button previous-page">前へ</a>
          {{ end }}
          {{ if (ne .IsLastPage true) }}
            <a href="/search?q={{ .Query }}&page={{ .NextPage }}" class="button next-page">次へ</a>
          {{ end }}
        {{ end }}
        </div>
      </section>
    </main>
  </body>
</html>