[elasticsearch]
name=Elasticsearch repository for {{ Elasticsearch.version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ Elasticsearch.version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=0
autorefresh=1
type=rpm-md
